* {
  max-width: 900px;
  margin: auto;
  padding: auto;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  align-items: center;
  padding: 50px;
  /* opacity: 0; */
}

header p {
  font-size: 20px;
  font-family: poppins, sans-serif;
}

header img {
  height: 50px;
  width: 80px;
  cursor: pointer;
}

#form input {
  font-size: 15px;
  width: 100px;
  padding: 10px;
  margin-left: 5px;
  border-radius: 20px;
  border: 1px solid #333;
  text-align: center;
  background-color: #fff;
}

header span {
  font-size: 20px;
  cursor: pointer;
  padding-left: 8px;
}

#main {
  opacity: 0;
}

#details div {
  max-width: 800px;
  padding-bottom: 40px;
  line-height: 2;
}

#main input {
  background-color: #ef3eef;
  font-size: 20px;
  color: #fff;
  padding: 18px;
  border: 1px solid #ef3eef;
  border-radius: 5px;
  width: 700px;
}

#accbal::placeholder {
  color: #fff;
}

#monthlycalc {
  font-size: 20px;
  font-family: poppins, sans-serif;
  padding-bottom: 30px;
}

#curbalance {
  background-color: #f2edf4;
  padding: 10px;
  padding-top: 30px;
  border-radius: 10px;
}

#lastdeposit {
  background-color: #f2edf4;
  margin-top: 30px;
  padding: 10px;
  padding-top: 30px;
  border-radius: 10px;
}

#lastloan {
  background-color: #f2edf4;
  margin-top: 30px;
  padding: 10px;
  padding-top: 30px;
  border-radius: 10px;
}

#repay-period {
  background-color: #f2edf4;
  margin-top: 30px;
  padding: 10px;
  padding-top: 30px;
  border-radius: 10px;
}

#acctype {
  background-color: #f2edf4;
  margin-top: 30px;
  padding: 10px;
  padding-top: 30px;
  border-radius: 10px;
}

#amount {
  background-color: #f2edf4;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  padding-top: 30px;
  border-radius: 10px;
}

#main h5 {
  font-size: 15px;
  text-align: center;
  padding-bottom: 10px;
}

#button {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #d621d6;
  border: 1px solid #d621d6;
  border-radius: 50px;
  cursor: pointer;
}

#main hr {
  margin-bottom: 10px;
  margin-top: 18px;
  padding: 1px;
  width: 70px;
  background-color: #333;
}

#successful {
  opacity: 0;
}

#successful img {
  height: 100px;
  width: 150px;
  display: flex;
  justify-content: center;
}

#successful h4 {
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

#successful p {
  font-size: 18px;
  text-align: center;
  padding: 2px 180px;
}

#successful hr {
  margin-bottom: 10px;
  margin-top: 18px;
  padding: 1px;
  width: 70px;
  background-color: #333;
}

#unsuccessful {
  text-align: center;
  line-height: 2;
  margin: auto;
  opacity: 0;
}

#unsuccessful h2 {
  font-size: 30px;
  color: red;
}

#unsuccessful p {
  font-size: 20px;
  color: red;
}

#wronglogin {
  text-align: center;
  line-height: 2;
  margin: auto;
  opacity: 0;
}

#wronglogin h2 {
  font-size: 30px;
  color: red;
}

#wronglogin p {
  font-size: 20px;
  color: red;
}

#unApproved {
  text-align: center;
  line-height: 2;
  margin: auto;
  opacity: 0;
}

#unApproved h2 {
  font-size: 30px;
  color: red;
}

#unApproved p {
  font-size: 20px;
  color: red;
}
